@{
    ViewBag.Title = "About The Really Awesome Guy Who Made This Site";
}

<div id="about" class="container jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <br />

    <p>
        So I didn't start playing Final Fantasy until FF7, but ever since then I have always enjoyed the Final Fantasy series.
        The visuals have always been second to none, the gameplay has always been interesting and the hours of grinding have always paid off.
        But what makes Final Fantasy so great and draws people in has always been the incredible stories that SquareEnix is able to produce for our entertainment.
        These stories captivate us and draw us in and we just can't put them down!  Therefore, due to the love I have for the series I felt
        I should make a fansite.  Hope you enjoyed it!
    </p>

    <br />
    <br />

    <h4>Here's some fun facts:</h4>
    <ul>
        <li>
            <span>Favorite FF game: Final Fantasy Tactics</span>
        </li>
        <li>
            <span>Favorite Summon: Ramuh</span>
        </li>
        <li>
            <span>Favorite Character: Cid Orleandu</span>
        </li>
        <li>
            <span>FFXIV Character Profile: <a href="http://na.finalfantasyxiv.com/lodestone/character/7166133/">Olyver Reed</a></span>
        </li>
    </ul>
</div>
