@{
    ViewBag.Title = "Contact Me";
}

<div class="container jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        123 Main Street<br />
        Greenville, SC 29601<br />
        <abbr title="Phone">P:</abbr>
        555.867.5309
    </address>

    <address>
        <strong>Personal Email:</strong>   <a href="mailto:austin.crisp05@gmail.com">austin.crisp05@gmail.com</a><br />
    </address>
</div>

<div id="contactMessage" class="container">
    <form>
        <label for="exampleInputMessage">Message</label>
        <textarea class="form-control" rows="4"></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>