
@{
    ViewBag.Title = "VII";
}

<div id="ff7" class="container">
    <h2>Final Fantasy VII</h2>
    <br />

    <h3>FFVII Remake News from TrustedReviews</h3>
    <p>
        Final Fantasy VII changed the gaming landscape in 1997, and is still regarded by many as the greatest ever JRPG.
        It was revolutionary, introducing the genre to millions of new fans with its fascinating characters and unique setting.
        After two decades Square Enix has finally decided to do a remake, and to be honest is still taking it sweet time about it.
        The concept of a remaster has been teased ever since a short tech demo debuted on PS3, and now, it's finally becoming a reality.
    </p>

    <a class="preview btn btn-primary" href="http://www.trustedreviews.com/news/final-fantasy-7-remake-release-gameplay-trailer-pre-order-characters" role="button">Click for Article</a>
</div>
