
@{
    ViewBag.Title = "XIV";
}

<div id="ff14" class="container">
    <h2>Final Fantasy XIV</h2>
    <br />

    <h3>FFXIV Patch Notes</h3>
    <p>
        Patch 3.45 brings a number of additions and refinements to the realm, including the continuation of the anima weapon quest line,
        new floors in the Palace of the Dead, and a deep dungeon scoring system.
    </p>

    <a class="preview btn btn-primary" href="http://na.finalfantasyxiv.com/lodestone/topics/detail/c55a99e864094c0c7dfcbde0fa35bd9fda60dfcb" role="button">Click for Article</a>
</div>

