
@{
    ViewBag.Title = "XV";
}

<div id="ff15" class="container">
    <h2>Final Fantasy XV</h2>
    <br />

    <h3>FFXV Review by Polygon</h3>
    <p>
        Final Fantasy 15 is bombastic, strange, surprising and, often, brilliant. It is voluminous; it is cacophonous.
        It's the only type of result that would feel fitting for a game with such a lengthy and tumultuous history.
    </p>

    <a class="preview btn btn-primary" href="http://www.polygon.com/2016/11/28/13661570/final-fantasy-15-review-xv-ff15-ps4-playstation-4-xbox-one-square-enix" role="button">Click for Article</a>
</div>

