body
{
    background-image: url(../Images/Final-Fantasy-Wallpaper.jpg);
    background-color: #cccccc;
    font-family: sans-serif;
}

.carousel-caption
{
    background-color: black;
    opacity: 0.85;
    border: 2px black;
    border-radius: 5px;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: medium;
    padding-right: 10px;
    padding-left: 10px;
}

#ff7
{
    margin-top: 50px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
}

#ff14
{
    margin-top: 50px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
}

.preview
{
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

#about ul 
{
    list-style-type: none;
}

#about li a
{
    text-decoration: none;
}

#contactMessage
{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}

#contactMessage button
{
    margin-bottom: 10px;
}

footer
{
    font-family: sans-serif;
    font-size: medium;
    color: darkgrey;
}